{% extends 'base_connected.html.twig' %}

{% block title %}Ajout de planete!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{ 'title_h1_add_vue'trans }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.nom) }} <br>
        {{ form_row(form.terrain) }}<br>
        {{ form_row(form.nbKmTerre) }}<br>
        {{ form_row(form.allegiance) }}<br>
        {{ form_row(form.description) }}<br>
        {{ form_row(form.deteDecouverte) }}<br>
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}

        {{ form_end(form,{ 'render_rest': false }) }}

        <a href="{{ path('planette') }}">{{ 'show_list_planet'|trans }}</a>

        <ul>
            {% if form.vars.errors.form.getErrors(true)|length > 0 %}
            {% for error in form.vars.errors.form.getErrors(true) %}
                <li>{{ error.message }}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
