{% extends 'base_connected.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>



    <div class="example-wrapper">

            <img src="{{ asset('images/' ~ planette.nom ~ '.jpeg' ) }}">



        <h1>{{ 'welcome_planet'|trans }} {{ planette.nom }} ✅</h1>
        <h2>{{ 'terrain'|trans }} {{ planette.terrain }}</h2>
        <h2>{{ 'nbKm'|trans }} {{ planette.nbKmTerre }}</h2>
        <h2>{{ 'allegiance'|trans }} {{ planette.allegiance }}</h2>
        <h2>{{ 'description'|trans }} {{ planette.description }}</h2>
        <h2>{{ 'discoveryDate'|trans }} : {{ planette.deteDecouverte|date('d/m/Y') }}</h2>

        <h2>{{ 'h2HabitantPlanete'|trans }} : </h2>

        {% for habitant in planette.rensidents %}
            <h2>{{ habitant.firstname }} - {{ habitant.lastname }}</h2>

            <h3>Les véhicules de {{ habitant.firstname }} : </h3>
            {% if habitant.vehicules|length == 0 %}
            Amandine marche à pied
            {% endif %}
            <ol>
                {% for vehicule in habitant.vehicules %}
                    <li>{{ vehicule.nom }} - {{ vehicule.model }}</li>
                {% endfor %}
            </ol>
        {% endfor %}


        <a href="{{ path('planette') }}">Voyager sur une autre planette</a>
    </div>
{% endblock %}

       {% block javascripts %}
           {{ parent() }}
           <script src="{{ asset('javascripts/detail.js') }}"></script>
       {% endblock %}