<ul>
    <li><a href="{{ path('planette') }}">Voir les planetes</a></li>
    <li><a href="{{ path('vehicule') }}">Voir les véhicules</a></li>
    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    <li> <a href="{{ path('planette', {_locale:'fr'}) }}">Afficher le site en français</a></li>
    <li><a href="{{ path('planette', {_locale:'en'}) }}">Afficher le site en Anglais</a></li>
    {{ app.user.email }}
</ul>